<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitmgr.meterage.mapper.MeterageItemHeaderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fitmgr.meterage.api.entity.MeterageItemHeader">
        <id column="id" property="id"/>
        <result column="meterage_item_id" property="meterageItemId"/>
        <result column="prop" property="prop"/>
        <result column="label" property="label"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, meterage_item_id, prop, label
    </sql>
    <select id="getMeterageItemHeaderList" resultType="com.fitmgr.meterage.api.entity.MeterageItemHeader">
        SELECT mh.* FROM meterage_item mi,meterage_item_header mh WHERE mh.meterage_item_id=mi.id AND mi.component_code= #{code} AND mi.del_flag= 0
    </select>

</mapper>
