<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitmgr.meterage.mapper.MeterageProjectMapper">
    <resultMap id="BaseResultMap" type="com.fitmgr.meterage.api.entity.MeterageProject">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="component_code" property="componentCode" />
        <result column="state" property="state" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="meterage_unit" property="meterageUnit" />
    </resultMap>

    <resultMap id="BaseResultMapWithOperateParam" type="com.fitmgr.meterage.api.entity.MeterageProject"
               extends="BaseResultMap">
        <collection property="meterageProjectPropertyList" javaType="list" ofType="com.fitmgr.meterage.api.entity.MeterageProjectProperty">
            <!-- 配置主键，是关联provider的唯一标识 -->
            <id  column="id" property="id"/>
            <result  column="meterage_project_id" property="meterageProjectId"/>
            <result  column="web_key" property="webKey"  />
            <result  column="key_name" property="keyName"  />
            <result  column="source_key" property="sourceKey"  />
            <result column="foreign_component_id" property="foreignComponentId" />
            <result column="foreign_key" property="foreignKey" />
            <result column="create_time" property="createTime" />
            <result column="del_flag" property="delFlag" />
            <result column="meterage_unit" property="meterageUnit" />
        </collection>
    </resultMap>

    <select id="selectByMapSelf" parameterType="java.util.Map" resultMap="BaseResultMapWithOperateParam">
        select a.*,  b.* from meterage_project a left join meterage_project_property b
        on a.id = b.meterage_project_id
            where a.component_code = #{componentCode, jdbcType=VARCHAR}
    </select>

</mapper>
