<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitmgr.meterage.mapper.MeterageItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fitmgr.meterage.api.entity.MeterageItem">
        <id column="id" property="id" />
        <result column="cloud_platform" property="cloudPlatform" />
        <result column="component_code" property="componentCode" />
        <result column="meterage_name" property="meterageName" />
        <result column="meterage_unit" property="meterageUnit" />
        <result column="meterage_item_type" property="meterageItemType" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cloud_platform, component_code, meterage_name,  meterage_unit, meterage_item_type, status, create_time, update_time, del_flag
    </sql>

</mapper>
