<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitmgr.meterage.mapper.ResourceChargeRecordMapper">

    <!-- ResourceChargeRecordVO查询映射结果 -->
    <!--<resultMap id="ResourceChargeRecordVOResultMap" type="com.fitmgr.meterage.api.vo.ResourceChargeRecordVO">
        <id column="id" property="id" />
        <result column="uuid" property="uuid" />
        <result column="cmp_instance_name" property="cmpInstanceName" />
        <result column="meterage_id" property="meterageId" />
        <result column="discount_id" property="discountId" />
        <result column="order_no" property="orderNo" />
        <result column="tenant_id" property="tenantId" />
        <result column="project_id" property="projectId" />
        <result column="user_id" property="userId" />
        <result column="charge_begin_time" property="chargeBeginTime" />
        <result column="begin_use_time" property="beginUseTime" />
        <result column="finish_use_time" property="finishUseTime" />
        <result column="bill_cycle_time" property="billCycleTime" />
        <result column="charge_usage" property="chargeUsage" />
        <result column="duration" property="duration" />
        <result column="price" property="price" />
        <result column="discount" property="discount" />
        <result column="total_charge" property="totalCharge" />
        <result column="remark" property="remark" />
        <result column="resource_off_flag" property="resourceOffFlag" />
        <result column="enable_flag" property="enableFlag" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>-->

    <!-- 批量新增计费属性 -->
    <insert id="saveChargeBillDetailList" parameterType="java.util.List">
        insert into resource_charge_record
        (
        uuid,
        app_name,
        cmp_instance_name,
        component_code,
        meterage_id,
        charge_id,
        discount_id,
        order_no,
        tenant_id,
        project_id,
        user_id,
        charge_begin_time,
        begin_use_time,
        finish_use_time,
        bill_cycle_time,
        charge_usage,
        duration,
        charge_unit,
        price,
        discount,
        total_charge,
        resource_data,
        remark,
        resource_off_flag,
        enable_flag,
        del_flag,
        create_time,
        update_time
        )
        values
        <foreach collection="list" item="resourceChargeRecords" separator=",">
            (
            #{resourceChargeRecords.uuid},
            #{resourceChargeRecords.appName},
            #{resourceChargeRecords.cmpInstanceName},
            #{resourceChargeRecords.componentCode},
            #{resourceChargeRecords.meterageId},
            #{resourceChargeRecords.chargeId},
            #{resourceChargeRecords.discountId},
            #{resourceChargeRecords.orderNo},
            #{resourceChargeRecords.tenantId},
            #{resourceChargeRecords.projectId},
            #{resourceChargeRecords.userId},
            #{resourceChargeRecords.chargeBeginTime},
            #{resourceChargeRecords.beginUseTime},
            #{resourceChargeRecords.finishUseTime},
            #{resourceChargeRecords.billCycleTime},
            #{resourceChargeRecords.chargeUsage},
            #{resourceChargeRecords.duration},
            #{resourceChargeRecords.chargeUnit},
            #{resourceChargeRecords.price},
            #{resourceChargeRecords.discount},
            #{resourceChargeRecords.totalCharge},
            #{resourceChargeRecords.resourceData},
            #{resourceChargeRecords.remark},
            #{resourceChargeRecords.resourceOffFlag},
            #{resourceChargeRecords.enableFlag},
            #{resourceChargeRecords.delFlag},
            #{resourceChargeRecords.createTime},
            #{resourceChargeRecords.updateTime}
            )
        </foreach>
    </insert>

    <!-- 查询Tenant月度计费 -->
    <select id="listTenantMonthCondition" resultType="com.fitmgr.meterage.api.vo.ResourceChargeRecordVO">
         SELECT
          rm.tenant_id as tenantId,
          rm.totalCount as totalCount
        FROM (SELECT
                rc.tenant_id,
                SUM( IFNULL(rc.total_charge,0) ) AS totalCount
              FROM resource_charge_record AS rc
                WHERE YEAR(rc.bill_cycle_time) = #{year} AND MONTH(rc.bill_cycle_time) = #{month}
                and  rc.tenant_id is NOT NULL
              GROUP BY rc.tenant_id) AS rm
        ORDER BY rm.totalCount DESC
    </select>

    <!-- 查询租户半年/一年费用统计 -->
    <!--<select id="listTenantYearCondition" resultType="com.fitmgr.meterage.api.vo.ResourceChargeRecordVO">
        SELECT
            mm.totalCount as totalCount,
            mm.tenantId as tenantId
         FROM (
                SELECT
                  rm.tenant_id as tenantId,
                  SUM(rm.total_charge) as totalCount
                FROM (SELECT
                        rc.*,
                        DATE_FORMAT(rc.bill_cycle_time, '%Y-%m') AS billCycleTime
                      FROM resource_charge_record AS rc) AS rm
                WHERE rm.billCycleTime IN(
                            SELECT m.mont AS mt FROM (SELECT
                                DATE_FORMAT(TheDate, '%Y-%m') AS mont
                                FROM
                                (SELECT
                                ADDDATE(CURDATE(), INTERVAL @d MONTH) AS TheDate,
                                @d := @d - 1
                                MONTH
                                FROM
                                resource_charge_record,
                                (SELECT
                                @d := 0) temp) test
                                LIMIT #{startCount}, #{endCount}) AS m)
                GROUP BY rm.tenant_id
              ) as mm
        ORDER BY mm.totalCount DESC
    </select>-->

    <!-- 查询Project月度计费 -->
    <select id="listProjectMonthCondition" resultType="com.fitmgr.meterage.api.vo.ResourceChargeRecordVO">
        SELECT
          rm.projectId as projectId,
          rm.totalCount as totalCount
        FROM (SELECT
                rc.project_id AS projectId,
                SUM(rc.total_charge) AS totalCount
              FROM resource_charge_record AS rc
                WHERE YEAR(rc.bill_cycle_time) = #{year} AND MONTH(rc.bill_cycle_time) = #{month}
                AND rc.project_id IS NOT NULL
              GROUP BY rc.project_id) AS rm
        ORDER BY rm.totalCount DESC
    </select>

    <!-- 查询Project半年/一年费用统计 -->
    <!--<select id="listProjectYearCondition" resultType="com.fitmgr.meterage.api.vo.ResourceChargeRecordVO">
        SELECT
          rm.project_id as projectId,
          SUM(rm.total_charge) as totalCount
        FROM (SELECT
                rc.*,
                DATE_FORMAT(rc.bill_cycle_time, '%Y-%m') AS billCycleTime
              FROM resource_charge_record AS rc) AS rm
        WHERE rm.billCycleTime IN(
                    SELECT m.mont AS mt FROM (SELECT
                        DATE_FORMAT(TheDate, '%Y-%m') AS mont
                        FROM
                        (SELECT
                        ADDDATE(CURDATE(), INTERVAL @d MONTH) AS TheDate,
                        @d := @d - 1
                        MONTH
                        FROM
                        resource_charge_record,
                        (SELECT
                        @d := 0) temp) test
                        LIMIT #{startCount}, #{endCount}) AS m)
        GROUP BY rm.project_id
        ORDER BY totalCount DESC
    </select>-->

    <!-- 所有租户总费用及费用占比 -->
    <select id="totalTenantPrice" resultType="com.fitmgr.meterage.api.vo.ResourceChargeRecordVO">
        SELECT
          rc.meterage_id as meterageId,
          SUM(rc.total_charge) as totalCount
        FROM resource_charge_record AS rc
        WHERE rc.del_flag = 0
        GROUP BY rc.meterage_id
    </select>

    <!--<select id="listReviewTenantMonthCondition" resultType="com.fitmgr.meterage.api.vo.ResourceChargeRecordVO">
        SELECT
          rm.tenant_id AS tenantId,
          rm.billCycleTime AS billCycleTime,
          SUM(rm.total_charge) AS totalCount
        FROM (SELECT
                rc.*,
                DATE_FORMAT(rc.bill_cycle_time, '%Y-%m') AS billCycleTime
              FROM resource_charge_record AS rc) AS rm
        WHERE rm.billCycleTime IN(
                    SELECT m.mont AS mt FROM (SELECT
                        DATE_FORMAT(TheDate, '%Y-%m') AS mont
                        FROM
                        (SELECT
                        ADDDATE(CURDATE(), INTERVAL @d MONTH) AS TheDate,
                        @d := @d - 1
                        MONTH
                        FROM
                        resource_charge_record,
                        (SELECT
                        @d := 0) temp) test
                        LIMIT #{startCount}, #{endCount}) AS m)
        AND rm.tenant_id = #{tenantId}
        GROUP BY rm.billCycleTime
        ORDER BY rm.billCycleTime DESC
    </select>-->


    <!--<select id="listReviewProjectMonthCondition" resultType="com.fitmgr.meterage.api.vo.ResourceChargeRecordVO">
        SELECT
          rm.project_id AS projectId,
          rm.billCycleTime AS billCycleTime,
          SUM(rm.total_charge) AS totalCount
        FROM (SELECT
                rc.*,
                DATE_FORMAT(rc.bill_cycle_time, '%Y-%m') AS billCycleTime
              FROM resource_charge_record AS rc) AS rm
        WHERE rm.billCycleTime IN(
                    SELECT m.mont AS mt FROM (SELECT
                        DATE_FORMAT(TheDate, '%Y-%m') AS mont
                        FROM
                        (SELECT
                        ADDDATE(CURDATE(), INTERVAL @d MONTH) AS TheDate,
                        @d := @d - 1
                        MONTH
                        FROM
                        resource_charge_record,
                        (SELECT
                        @d := 0) temp) test
                        LIMIT #{startCount}, #{endCount}) AS m)
        AND rm.project_id = #{projectId}
        GROUP BY rm.billCycleTime
        ORDER BY rm.billCycleTime DESC
    </select>-->

    <!-- 月度租户总费用及费用占比 -->
    <select id="tenantMonthPrice" resultType="com.fitmgr.meterage.api.vo.ResourceChargeRecordVO">
        SELECT
          rc.meterage_id AS meterageId,
          SUM(rc.total_charge) AS totalCount
        FROM resource_charge_record AS rc
        WHERE YEAR(rc.bill_cycle_time) = #{year}
            AND MONTH(rc.bill_cycle_time) = #{month}
            AND rc.tenant_id = #{tenantId}
        GROUP BY rc.meterage_id
    </select>

    <!-- Project总费用及费用占比 -->
    <select id="projectMonthPrice" resultType="com.fitmgr.meterage.api.vo.ResourceChargeRecordVO">
        SELECT
          rc.meterage_id AS meterageId,
          SUM(rc.total_charge) AS totalCount
        FROM resource_charge_record AS rc
        WHERE YEAR(rc.bill_cycle_time) = #{year}
            AND MONTH(rc.bill_cycle_time) = #{month}
            AND rc.project_id = #{projectId}
        GROUP BY rc.meterage_id
    </select>
</mapper>
