HELP.md
/target/
fitmgr-admin/fitmgr-admin-biz/target/
fitmgr-eureka/target/
fitmgr-common/fitmgr-common-core/target/
fitmgr-common/fitmgr-common-gateway/target/
fitmgr-gateway/target/
fitmgr-config/target/
fitmgr-admin/fitmgr-admin-api/target/
fitmgr-auth/target/
fitmgr-common/fitmgr-common-annotation/target/
fitmgr-common/fitmgr-common-data/target/
fitmgr-common/fitmgr-common-log/target/
fitmgr-common/fitmgr-common-security/target/
fitmgr-common/fitmgr-common-swagger/target/
!.mvn/wrapper/maven-wrapper.jar
fitmgr-ces/fitmgr-ces-biz/target/
fitmgr-demo/fitmgr-demo-biz/target/
fitmgr-ces/fitmgr-ces-api/target/
fitmgr-common/fitmgr-common-minio/target/
fitmgr-common/fitmgr-common-job/target/
fitmgr-common/fitmgr-common-transaction/target/
fitmgr-demo/fitmgr-demo-api/target/
fitmgr-resourcecenter/fitmgr-resourcecenter-api/target/
fitmgr-resourcecenter/fitmgr-resourcecenter-biz/target/
fitmgr-resourcecenter/target/

fitmgr-meterage/fitmgr-meterage-api/target/
fitmgr-meterage/fitmgr-meterage-biz/target/
fitmgr-meterage/target/

logs/
*/target/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
/.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
