<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taibai.admin.mapper.AuthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.taibai.admin.api.entity.Auth">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="function_id" property="functionId"/>
        <result column="status" property="status"/>
        <result column="operating_range" property="operatingRange"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="tenant_range" property="tenantRange"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_id, function_id, status, operating_range, create_time, update_time, del_flag
    </sql>

    <insert id="saveAuth">
        insert into auth(role_id, function_id, status, operating_range, tenant_range)
        values
        <foreach collection="list" item="auths" separator=",">
            (#{roleId},#{auths.functionId},#{auths.status},#{auths.operatingRange},#{auths.tenantRange})
        </foreach>
    </insert>

    <insert id="addAuths">
        insert into auth(role_id, function_id, status, operating_range)
        values
        <foreach collection="list" item="menuByAuth" separator=",">
            (#{roleId},#{menuByAuth.functionId},#{menuByAuth.status},#{menuByAuth.operatingRange})
        </foreach>
    </insert>

    <delete id="remove">
        DELETE
        FROM
        auth
        WHERE
        `role_id`=#{roleId}
    </delete>


    <select id="getMenuByAuth" resultType="com.taibai.admin.api.vo.AuthVO">
      SELECT
            f.id,
            f.`name`,
            f.function_code,
            f.menu_id,
            f.resource_id,
            f.date_scope,
            min(a.`status`)status,
            min(a.operating_range)operating_range
    FROM
        `function` f,
        auth a
    WHERE
        f.id=a.function_id
        AND f.menu_id = #{menuId}
		AND a.role_id in 
        <foreach item="item" collection="roleIds" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
        AND f.del_flag=0
		group by f.function_code
    </select>


    <select id="getResourceByAuth" resultType="java.lang.Integer">
        SELECT
            f.id
        FROM
            resource_menu rm,
            `function` f,
            auth a
        WHERE
        rm.id=f.resource_id
        AND
        f.id=a.function_id
        AND
        a.role_id= #{roleId}
        AND
        f.resource_id = #{resourceId}
    </select>

    <select id="getFunctionCodeByAuth" resultType="com.taibai.admin.api.vo.AuthVO">
      SELECT
        f.id,
        f.NAME,
        a.role_id,
        f.id function_id,
        f.date_scope,
        f.function_code,
        a.`status`,
        a.operating_range,
        f.create_time,
        f.update_time,
        a.del_flag
      FROM
        auth a,
	    `function` f
      WHERE
	    a.function_id = f.id
	    AND a.del_flag = 0
        AND f.function_code = #{functionCode}
        AND a.role_id = #{defaultRole}
    </select>

    <select id="getFunctionCodeByAuths" resultType="com.taibai.admin.api.vo.AuthVO">
      SELECT
        f.id,
        f.NAME,
        a.role_id,
        f.id function_id,
        f.date_scope,
        f.function_code,
        a.`status`,
        min(a.operating_range)operating_range,
        f.create_time,
        f.update_time,
        a.del_flag,
        a.tenant_range
      FROM
        auth a,
        `function` f
      WHERE
        a.function_id = f.id
        AND a.del_flag = 0
        AND f.function_code = #{functionCode}
        AND a.status = 0
        AND a.role_id in
        <foreach item="item" collection="roleIds" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
        group by f.id,a.tenant_range
    </select>
    
    <select id="getFunctionIdByAuths" resultType="com.taibai.admin.api.vo.AuthVO">
      SELECT
        f.id,
        f.NAME,
        a.role_id,
        f.id function_id,
        f.date_scope,
        f.function_code,
        a.`status`,
        min(a.operating_range)operating_range,
        f.create_time,
        f.update_time,
        a.del_flag
      FROM
        auth a,
        `function` f
      WHERE
        a.function_id = f.id
        AND a.del_flag = 0
        AND f.id = #{functionId}
        AND a.status = 0
        AND a.role_id in
        <foreach item="item" collection="roleIds" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
        group by f.id
    </select>
    
    <select id="getRoleIdByAuths" resultType="com.taibai.admin.api.vo.AuthVO">
        SELECT
            a.id,
            f.NAME,
            f.resource_id,
            a.role_id,
            a.function_id,
            f.date_scope,
            f.function_code,
            a.`status`,
            a.operating_range,
            f.create_time,
            f.update_time,
            a.del_flag
        FROM
            `function` f,
            auth a
        WHERE
       	a.function_id=f.id
        AND
        a.role_id = #{roleId}
        AND
        a.function_id = #{functionId}
    </select>

</mapper>
