<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taibai.admin.mapper.RestrictLloginTimeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.taibai.admin.api.entity.RestrictLloginTime">
        <id column="id" property="id"/>
        <result column="switch" property="switches"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
    </resultMap>
    
    <select id="list" resultMap="BaseResultMap">
        SELECT t.id,t.switch,t.start_time,t.end_time FROM `restrict_login_time` t
    </select>
    
    <update id="updateById">
        update restrict_login_time t
        set 
        t.switch=#{restrictLloginTime.switches},
        t.start_time=#{restrictLloginTime.startTime},
        t.end_time=#{restrictLloginTime.endTime}
        where t.id=#{restrictLloginTime.id}
    </update>

</mapper>
