<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taibai.admin.mapper.RoleGroupRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.taibai.admin.api.entity.RoleGroupRole">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="role_group_id" property="roleGroupId"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

</mapper>
