<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.taibai.admin.mapper.TenantLocationTreeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
        type="com.taibai.admin.api.entity.TenantLocationTree">
        <id column="id" property="id" />
        <result column="vdc_id" property="vdcId" />
        <result column="parent_vdc_id" property="parentVdcId" />
        <result column="location_tree" property="locationTree" />
        <result column="tree_version" property="treeVersion" />
    </resultMap>

    <update id="updateByTenantId">
        update tenant_location_tree
        set
        location_tree=#{tenantLocationTree.locationTree},
        tree_version=#{tenantLocationTree.treeVersion}
        where
        vdc_id=#{tenantLocationTree.vdcId}
    </update>

</mapper>
