<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitmgr.admin.mapper.SubpageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fitmgr.admin.api.entity.Subpage">
        <id column="id" property="id"/>
        <id column="menu_id" property="menuId"/>
        <result column="name" property="name"/>
        <result column="route_path" property="routePath"/>
        <result column="menu_path" property="menuPath"/>
        <result column="parent_id" property="parentId"/>
        <result column="subpage" property="subpage"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,menu_id, name, route_path, menu_path, parent_id,subpage
    </sql>

</mapper>
